<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <!-- <script type="application/javascript" src="script.js"></script> -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!-- 2018 Copyrights - Dave Buitenhuis -->

    <div class="first-menu">
        <span id="0">
            <i class="fas fa-male"></i>
            Singeplayer
        </span>
        <span id="1">
            <i class="fas fa-male"></i>
            <i class="fas fa-male"></i>
            Multiplayer
        </span>
    </div>
    <div class="second-menu">
        <span id="0">Action</span>
        <span id="1">Strategy</span>
        <span id="2">Puzzle</span>
        <span id="3">Shooter</span>
        <span id="4">Roleplay</span>
        <span id="5">Simulation</span>
        <span id="6">Stealthy</span>
        <span id="7">Race</span>
        <span id="8">Sports</span>
    </div>

    <div id="linksContainer" class="thirth-menu">
        <!-- Generated links will be placed in here -->
        <a target="_blank" href="howtoplay?game=testgame"><span>Test Game</span></a><a target="_blank" href="howtoplay?game=battlefield"><span>Battlefield
                4</span></a>
        <a target="_blank" href=""><span>Sons of War</span></a><a target="_blank" href=""><span>Billy Bo</span></a>
        <a target="_blank" href=""><span>Super Smash</span></a><a target="_blank" href=""><span>Sunbeam</span></a>
        <a target="_blank" href=""><span>Window Smasher</span></a><a target="_blank" href=""><span>Bella</span></a>
        <a target="_blank" href=""><span>Life of a Dog</span></a><a target="_blank" href=""><span>Repairman</span></a>
        <a target="_blank" href=""><span>American Football</span></a><a target="_blank" href=""><span>FIFA 1985</span></a>
        <a target="_blank" href=""><span>Skully</span></a><a target="_blank" href=""><span>Forest Run!</span></a>
        <a target="_blank" href=""><span>Excalibur</span></a><a target="_blank" href=""><span>Medieval War</span></a>
    </div>

</body>

<script>

    firstMenu = document.querySelector('.first-menu');
    playerTypes = firstMenu.children;

    secondMenu = document.querySelector('.second-menu');
    gameTypes = secondMenu.children;

    thirthMenu = document.querySelector('.thirth-menu');
    games = thirthMenu.children;

    // Used for changing the position of the selector between menu's and in-menu.
    var menuCounter = 0;
    var menuIndex = [playerTypes, gameTypes, games];
    var activeMenu = menuIndex[0];
    var counter = 0;
    var downCounterCache = 0;
    var upCounterCache = 0;

    function initSelector() {
        activeMenu[counter].style.backgroundColor = 'cyan';
    }

    function cacheDownCounter() {
        downCounterCache = counter;

        if (counterCached('up')) {
            swapCounter('up');
        } else {
            resetCounter();
        }
    }

    function cacheUpCounter() {
        upCounterCache = counter;

        if (counterCached('down')) {
            swapCounter('down');
        } else {
            resetCounter();
        }
    }

    function swapCounter(direction) {
        if (direction == 'up') { counter = upCounterCache; }
        if (direction == 'down') { counter = downCounterCache; }
    }

    function counterCached(direction) {

        if (direction == 'up' && upCounterCache < 0) {
            return false;
        }

        if (direction == 'down' && downCounterCache < 0) {
            return false;
        }

        return true
    }

    function resetCounter() {
        counter = 0;
    }

    initSelector(playerTypes);

    function unselectElement() {
        activeMenu[counter].style.backgroundColor = '';
    }

    function selectPreviousElement() {
        unselectElement();
        counter--;
        activeMenu[counter].style.backgroundColor = 'cyan';
    }

    function selectNextElement() {
        unselectElement();
        counter++
        activeMenu[counter].style.backgroundColor = 'cyan';
    }

    function setActiveMenu() {
        activeMenu = menuIndex[menuCounter]
    }

    function selectNextMenu() {
        menuCounter++;
        setActiveMenu();
        initSelector();
    }

    function selectPreviousMenu() {
        menuCounter--;
        setActiveMenu();
        initSelector();
    }

    // Listening to the browser which key is pressed.
    document.onkeypress = function (evt) {
        evt = evt || window.event;
        var charCode = evt.keyCode || evt.which;
        var charStr = String.fromCharCode(charCode);

        if (charStr == 'd') {
            selectNextElement();
        }

        if (charStr == 'a') {
            selectPreviousElement();
        }

        if (charStr == 's') {
            cacheUpCounter();
            selectNextMenu();
        }

        if (charStr == 'w') {
            cacheDownCounter();
            selectPreviousMenu();
        }

        console.log('CachedCounterUP: ' + upCounterCache);
        console.log('CachedCounterDOWN: ' + downCounterCache);
        console.log('Current: ' + counter);
    };

</script>

</html>