* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
}

header {
    color: white;
    margin: 0;
    background: rgb(93, 138, 168);
    padding: 20px 30px;
}
header h1{
    font-family: 'Press Start 2P', cursive;
}

main{
    margin: 30px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    background: rgb(93, 138, 168);
    color: #FFF;
}

.flex-container{
    display: flex;
    align-content: center;
    justify-content: center;
}

#continue, #back{
    font-weight: bold;
    margin: 10px;
    width: 100px;
    text-align: center;
}

#continue{
    opacity: 1;
    animation: blink 2s ease-in-out infinite;
}

  
@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}

.st0 {
    fill: none;
}

.st1 {
}

.st2 {
    font-size: 40px;
    //font-family: 'Press Start 2P', cursive;
}

.st3 {
    fill: #F7DB21;
}

.st4 {
    fill: #F70000;
}

.st5 {
    font-size: 18px;
}

.st6 {
    fill: #0062AC;
}

.st7 {
    fill: #FFFFFF;
    stroke: #444140;
    stroke-width: 1.4173;
    stroke-miterlimit: 10;
}

.st8 {
    font-size: 14px;
}

.continue-btn {
    fill: #FFFFFF;
    stroke: #454241;
    stroke-width: 1.4173;
    stroke-miterlimit: 10;
}


.back-btn {
    fill: #F7DB21;
}