* {
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}
body {
    margin: 0;
}

header {
    margin: 0;
    background: #673ab7;
    box-shadow: 0px 2px 2px 0px black;
    padding: 20px 30px;
}

main{
    margin: 30px 150px;
}

.cls-1 {
    fill: #ff0805;
}

.cls-2 {
    fill: #3811f1;
}

.cls-3 {
    fill: #fff;
}

.cls-4 {
    fill: #ff0;
}

.cls-5 {
    fill: #050805;
}

.cls-6 {
    font-size: 12px;
    font-family: MyriadPro-Regular, Myriad Pro;
}