* {
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}
body {
    margin: 0;
}

header {
    margin: 0;
    background: rgb(93, 138, 168);
    //box-shadow: 0px 2px 2px 0px black;
    padding: 20px 30px;
}
header h1{
    font-family: 'Press Start 2P', cursive;
}

main{
    margin: 30px;
}

.st0 {
    fill: none;
}

.st1 {
}

.st2 {
    font-size: 40px;
    //font-family: 'Press Start 2P', cursive;
}

.st3 {
    fill: #F7DB21;
}

.st4 {
    fill: #F70000;
}

.st5 {
    font-size: 18px;
}

.st6 {
    fill: #0062AC;
}

.st7 {
    fill: #FFFFFF;
    stroke: #444140;
    stroke-width: 1.4173;
    stroke-miterlimit: 10;
}

.st8 {
    font-size: 14px;
}